name: Flask ML CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13.7"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint
      run: |
        pip install black flake8
        black --check .
        flake8 .

    - name: Build Docker image
      run: docker build -t banknote-api .

  #     - name: Run container
  # run: |
  #   docker run -d -p 5000:5000 --name api banknote-api
  #   sleep 5
  #   curl http://localhost:5000/